* {
  padding: 0;
  box-sizing: border-box;
  font-family: times new roman, sans-serif;
}

body {
  background-color: #dbc8bf;
  color: #333;
  line-height: 1.6;
  padding-top: 20px;
  padding-bottom: 10px;
}

.profile {
  width: 90%;
  margin: auto;
}

.profile-info {
  width: 30%;
}

.card {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 width: 90%;
 margin: auto;
 background: white;
 border-radius: 40px;
 padding: 40px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard {
  width: 45%;
  border-left: 2px solid #8c6d5b;
  padding: 30px;
}

.account {
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  width: 100px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.container {
  padding: 2px 16px;
}