* {
  padding: 0;
  box-sizing: border-box;
  font-family: times new roman, sans-serif;
}

body {
  background-color: #dbc8bf;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 180px 1fr;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: #cc9966;
  padding-top: 20px;
}

.sidebar a  {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar p {
  padding: 6px 8px 6px 16px;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #604020;
}

.dashboard {
  display: grid;
  grid-template-rows: 60px auto 1fr auto auto;
  gap: 25px;
  padding: 30px;
  margin-left: 180px;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.topbar-logo {
  width: 45px;
  height: 45px;
  margin-right: auto;
  border-radius: 5px;
}

.topbar input {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.cards div {
  background: white;
  border-radius: 10px;
  padding: 20px;
  min-height: 90px;
  border: 1px solid #ccc;
}

.charts {
  background: white;
  border-radius: 10px;
  min-height: 350px;
  padding: 20px;
}

.logo-img {
  position: fixed;
  top: 20px;
  left: 140px;
  width: 35px;
  height: auto;
}

.bottom-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.bottom-cards div {
  width: 45%;
  background: white;
  padding: 28px;
  border-radius: 10px;
}

.logout-button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}
 
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

 /* mediaquerys */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
